.index{
    
    /*color: darksalmon;*/
    color: rgb(169, 255, 8);
    text-align: left;
    margin-left: 15px;
    font-weight: bolder;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
p{
    /*color: rgb(240, 116, 0);*/
    color: rgb(44, 199, 199);
    text-align: justify;
    width: 60%;
    height: 50%;
    padding: 10px;
    border: 1px solid black ;
    flood-color: rgb(255, 145, 0);
    background-color: aqua;
    margin:auto;
}
.a{

    text-decoration: dotted;
    text-align: justify;
    background: linear-gradient(blue,rgb(238, 5, 141));
    /*background: radial-gradient(white,black);
*/}
.sumd{
    color: rgb(255, 44, 72);
    color: rgb(169, 255, 8);
    text-align: left;
    margin-left: 215px;
    
    
}
.suma{
    margin-top: -17px;
    margin-left: 120px;
    text-align: justify;
}
.button{
    text-align: left;
    margin-top: 30px;
    margin-left: 30px;
}
h3{
    stroke: aqua;
    font-family: algerian;
    text-align: center;
    stroke: black;
    font-style: italic;
    box-shadow: inset;
    border-style: double;
    border: 100%;
    padding: 10px;
}